{{ $content_type := .Params.content_type }}
{{if $content_type}}
{{ $t := .Site.GetPage $content_type }}
{{ $rscPages := $t.Resources.ByType "page"}}

{{if gt (len $rscPages) 0}}
<div class="publications row w-100">
    <div class="col w-100">
        {{ range $index, $page := $rscPages}}
            {{ range $index, $publication := $page.Params.publications}}
            <div class="publication row  w-100">
                
                <!-- {{ printf "%#v" $publication }} -->
                <!-- {{ $publication}} -->

                {{ $latex := $publication.publication.latex}}
                
                {{ $tmp1 := replace $latex "--" "-"}}
                {{ $tmp1 := split $tmp1 "textit{" }}
                {{ $tmp1 := index $tmp1 1}}
                {{ $tmp2 := split $tmp1 "}"}}
                {{ $authors_new := index $tmp2 0}}
                {{ $tmp3 := index $tmp2 1}}
                {{ $tmp3 := split $tmp3 "normalfont"}}
                {{ $tmp3 := index $tmp3 1}}
                {{ $tmp4 := split $tmp3 "//"}}
                {{ $publication_title := index $tmp4 0}}
                {{ $journal_info := index $tmp4 1}}
                {{ $index_pub := len $page.Params.publications}}
                {{ $index_pub := sub $index_pub $index}}


                <div class="section-1 w-100">

                    <span>
                        [{{$index_pub}}]
                    </span>

                    <span style="font-style: italic;">
                        {{$authors_new}}
                    </span>
                    
                    <span style="white-space: pre-line;">
                        {{$publication_title}} // {{$journal_info}}
                    </span>

                </div>

                {{ $links := $publication.publication.links}}
                {{ if $links }}
                <div class="section-3  w-100">
                    {{range $link := $links}}
                        {{ if $link }}
                            <a class="main_color text-decoration-none rounded" href="{{$link.link.url}}" target="_blank">
                                [{{$link.link.name}}]
                            </a>
                        {{end}}
                    {{end}}
                </div>
                {{end}}
            </div>
            {{end}}
        {{end}}

    </div>
    {{end}}
</div>
{{end}}